<div class="row">
  <div class="large-12 columns">
    <ul class="breadcrumbs">
      <li> <%= link_to @meet.name, meet_path(@meet) %> </li>
      <li class="current"><a href="#"> Teams </a></li>
    </ul>
  </div>
</div>

<div class="row">
  <div class="large-12 columns">
    <%= form_for(@team, :url => meet_teams_path(params[:meet_id]), :remote => true) do |f| %>
      <fieldset>
        <legend>Add A New Team</legend>
        <div class="large-4 columns">
          <%= f.text_field :name, :id => "name", :placeholder => "Name" %>
        </div>
        <div class="large-4 columns">
          <%= f.text_field :location, :id => "location", :placeholder => "Location" %>
        </div>
        <div class="large-3 columns">
          <%= f.text_field :coach_name, :id => "coach_name", :placeholder => "Head Coach Name" %> 
        </div>
        <div class="large-1 columns">
          <%= image_submit_tag("plus.png")%>
        </div>
      </fieldset>
    <% end %>
  </div>
</div>

<div class="row">
  <div class="large-12 columns">
    <h4> Current Teams </h4>
  </div>
</div>
<div class="row">
  <div class="large-12 columns">
          <table>
            <thead>
              <tr>
                <th width="300" > Team Name </th>
                <th width="300" > Location </th>
                <th width="300" > Coach Name </th>
                <th width="50" ></th>
                <th width="50" ></th>
              </tr>
            </thead>
            <tbody id="teams">
              <%= render (@team) %>
            </tbody>
          </table>
        </div>
      </div>
