<div class="row">
  <div class="twelve columns">
    <h1>Create New Meet</h1>
      <div class="panel">
      <%= form_for(@team) do |f| %>
        <label>Team Name</label>
        <%= f.text_field :name %>
        <label>Location</label>
        <%= f.text_field :location %>
        <label>Coach Name</label>
        <%= f.text_field :coach_name %>
        <%= f.submit "Finish Creating Meet" %>
      <% end %>
    </div>
  </div>
</div>
