<div class="row">
  <div class="large-12 columns">
        <%= form_for(@user) do |f| %>
          <fieldset>
            <legend> New User </legend>
          <label>Username</label>
          <%= f.text_field :user_name %>
          <label>Password</label>
          <%= f.text_field :password %>
          <label>Password Confirm</label>
          <%= f.text_field :password_confirm %>
          <%= f.submit "Create User", :class => "small button" %>
        </fieldset>
        <% end %>
  </div>
</div>
