<div class="row">
  <div class="large-12 columns">
    <ul class="breadcrumbs">
      <li> <%= link_to @meet.name, meet_path(@meet) %> </li>
      <li class="current"><a href="#">Events </li>
    </ul>
  </div>
</div>

<div class="row">
  <div class="large-12 columns">
    <%= form_for(@event, :url => meet_events_path(@meet), :remote => true, :html => { :class => "custom" } ) do |f| %>
      <fieldset>
        <legend> Add A New Event </legend>
        <div class="large-2 columns">
          <%= f.text_field :number, :id => "event_number", :value => @current_number %>
        </div>
        <div class="large-3 columns">
          <%= select_tag(:gender, options_for_select(@gender_list)) %>
        </div>
        <div class="large-3 columns">
          <%= f.text_field :age, :id => "age_group", :placeholder => "Age" %> 
        </div>
        <div class="large-3 columns">
          <%=f.collection_select :race_type, RaceType.all, :id, :display_name %> 
        </div>
        <div class="large-1 columns">
          <%= image_submit_tag("plus.png") %>
        </div>
      </fieldset>
    <% end %>
  </div>
</div>

<div class="row">
  <div class="large-12 columns">
      <h4>Current Events</h4>
  </div>
</div>
<div class="row">
  <div class="large-12 columns">
    <table>
      <thead>
        <tr>
          <th width="225"> Event #</div>
          <th width="225">Gender</div>
          <th width="225">Event</div>
          <th width="225">Age<div>
          <th width="50"></div>
          <th width="50"></div>
        </tr>
      </thead>
      <tbody id="events">
          <%= render(@event) %>
      </tbody>
    </table>
    </div>
  </div>
