<% if @meet.errors.any? %>
  <div id="errors">
      Please fix the following <%= pluralize(@meet.errors.count, "error") %>.
    <ul>
      <%= @meet.errors[:name] %>
      <% @meet.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<div class="row">
  <div class="large-12 columns">
        <%= form_for(@meet) do |f| %>
          <fieldset>
            <legend> New Meet </legend>
          <label>Name</label>
          <%= f.text_field :name, :class => @meet.errors[:name].empty? ? "" : "error" %>
          <label>Location</label>
          <%= f.text_field :location, :class => @meet.errors[:location].empty? ? "" : "error" %>
          <label>Number of Lanes in Pool</label>
          <%= f.text_field :pool_size, :class => @meet.errors[:pool_size].empty? ? "" : "error" %>
          <% if !@meet.errors[:pool_size].empty? %>
                 <small class="error"></small>
          <% end %>
          <%= f.submit "Save Meet", :class => "small button" %>
        </fieldset>
        <% end %>
    </div>
  </div>
</div>
