<div class="row">
  <div class="large-12 columns">
    <h3><%= @meet.name %> <small> Location: <%= @meet.location %> # Teams: <%= @meet.teams.count %> # Swimmers: <%= @meet.swimmers.count %> # Events: <%= @meet.events.count %> </small> </h3>
  </div>
</div>

<div class="row">
  <div class="large-12 columns">
    <ul class="button-group">
      <li><a href="#" class="small button">Edit Meet</a></li>
      <li><%= link_to "Heats", meet_all_heats_path(@meet), :class => "small button" %></li>
      <li><a href="#" class="small button">Check-In Swimmers</a></li>
    </ul>
  </div>
</div>

<div class="row">
  <div class="large-12 columns">
   <div class="section-container tabs" data-section="tabs">
     <section class="section">
      <p class="title"><a href="#">Teams</a></p>
      <div class="content">
        <div class="row">
          <div class="large-12 columns">
            <div class="button-bar">
                <ul class="button-group">
                  <li> <%= link_to "Add/Edit Teams", new_meet_team_path(@meet), :class => "small button" %> </li>
                </ul>
            </div>
          </div>
        </div>
        <%= render "all_teams" %> 
      </div>
    </section>
    <section class="section">
      <p class="title"><a href="#">Events</a></p>
      <div class="content">
        <div class="row">
          <div class="large-12 columns">
            <div class="button-bar">
                <ul class="button-group">
                  <li> <%= link_to "Add/Edit Events", new_meet_event_path(@meet), :class => "small button" %> </li>
                </ul>
            </div>
          </div>
        </div>
      <%= render "all_events" %> 
      </div>
    </section>  
    <section class="section">
    <p class="title"><a href="#">Swimmers</a></p>
    <div class="content">
      <div class="row">
        <div class="large-12 columns">
          <div class="button-bar">
              <% @teams.each do |team| %>
                <ul class="button-group">
                  <li> <%= link_to team.name, meet_team_swimmers_path(@meet, team), :class => "small button" %> </li>
                </ul>
              <% end %>
          </div>
        </div>
      </div>
      <%= render "all_swimmers" %>
    </div>
  </section>
</div>
</div>
</div>
