<div class="row">
  <div class="large-12 columns">
    <h3><%= @meet.name %> <span id="info"> <span class="icons location"></span> <%= @meet.location %> <span class="icons teams"></span> <%= @meet.teams.count %> <span class="icons swimmer"></span><%= @meet.swimmers.count %> <span class="icons events"></span><%= @meet.events.count %> </span> </h3>
  </div>
</div>

<div class="row">
  <div class="large-12 columns">
    <ul class="button-group" id="options">
      <li><%= link_to "Edit Meet", edit_meet_path(@meet), :class => "small button" %></li>
      <li><%= link_to "Heats", meet_all_heats_path(@meet), :class => "small button" %></li>
      <% if !@meet.current_meet %>
        <li><%= link_to "Set Current Meet", meet_activate_path(@meet), :id => "activate_button", :class => "small button" %></li>
      <% else %>
        <li><%= link_to "Current Meet", meet_activate_path(@meet), :id => "activate_button", :class => "small success button" %></li>
      <% end %>
    </ul>
  </div>
</div>

<div class="row">
  <div class="large-12 columns">
   <div class="section-container tabs" data-section="tabs">
     <section class="section">
      <p class="title"><a href="#">Teams</a></p>
      <div class="content">
        <div class="row">
          <div class="large-12 columns">
            <div class="button-bar">
                <ul class="button-group">
                  <li> <%= link_to "Add/Edit Teams", new_meet_team_path(@meet), :class => "small button" %> </li>
                </ul>
            </div>
          </div>
        </div>
        <%= render "all_teams" %> 
      </div>
    </section>
    <section class="section">
      <p class="title"><a href="#">Events</a></p>
      <div class="content">
        <div class="row">
          <div class="large-12 columns">
            <div class="button-bar">
                <ul class="button-group">
                  <li> <%= link_to "Add/Edit Events", new_meet_event_path(@meet), :class => "small button" %> </li>
                </ul>
            </div>
          </div>
        </div>
      <%= render "all_events" %> 
      </div>
    </section>  
    <section class="section">
    <p class="title"><a href="#">Swimmers</a></p>
    <div class="content">
      <div class="row">
        <div class="large-12 columns">
          <div class="button-bar">
              <% @teams.each do |team| %>
                <ul class="button-group">
                  <li> <%= link_to team.name, meet_team_swimmers_path(@meet, team), :class => "small button" %> </li>
                </ul>
              <% end %>
          </div>
        </div>
      </div>
      <%= render "all_swimmers" %>
    </div>
  </section>
</div>
</div>
</div>
