<div class="row">
  <div class="six columns">
    <h2><%= @meet.name %> </h2>
    <h3 class="subheader"> <%=@meet.location %> </h3>
    <div class="panel">
      <div class="row">
      <div class="six columns">
        <h3>Teams</h3>
      </div>
      <div class="six columns">
        <%= link_to "Add More Teams", new_meet_team_path(params[:id]), :class => "small button" %>
      </div>
      </div>
      <% @teams.each do |team| %>
      <div class="row">
        <div class="four columns">
          <h5> <%= team.name %> </h5> 
        </div>
        <div class="four columns">
          <h5 class="subheader"><%= team.location %> </h5>
        </div>
        <div class="four columns">
          <h5><%= link_to "Swimmers", meet_team_swimmers_path(team.meet_id, team.id) %></h5>
        </div>
      </div>
    <% end %>
    </div>
  </div>
  <div class="six columns">
    <div class = "panel">
      <div class="row">
        <div class="six columns">
          <h3>Events</h3>
        </div>
        <div class="six columns">
          <%= link_to "Add More Events", new_meet_event_path(params[:id]), :class => "small button" %> 
        </div>
      </div>
    <table class="twelve">
      <thead>
        <tr>
          <th>Number</th>
          <th>Race</th>
          <th>Gender</th>
          <th>Age</th>
        </tr>
      <tbody>
    <% @events.each do |event| %>
      <tr>
        <td><%= event.number %>.</td>
        <td><%= event.race_type.display_name %></td>
        <td><%= event.gender %></td> 
        <td><%= event.age %></td>
      </tr>
    <% end %>
  </tbody>
</table>
  </div>
  </div>
</div>
