<div class="row">
  <div class="large-12 columns">
    <ul class="breadcrumbs">
      <li><%= link_to @meet.name, meet_path(@meet) %> </li>
      <li class="current"><a href="#"><%= @team.name %> </a></li>
    </ul>
  </div>
</div>

<div class="row">
  <div class="large-12 columns">
    <h3><%= @team.name %> <small> Location: <%= @team.location %> Coach name: <%= @team.coach_name %> </small> </h3>
  </div>
</div>

<div class="row">
  <div class="large-12 columns">
    <div class="panel">
      <%= render "new_swimmer_form" %>
      <%= render "import_swimmer_form" %>
    </div> 
  </div>
</div>

<div class="row">
  <div class="large-12 columns">
    <%= render "all_swimmers" %>
  </div>
</div>

