<div class="row">
  <div class="large-12 columns">
    <div class="row">
      <div class="large-9 columns">
        <h1>New Swimmer</h1>
      </div>
      <div class="large-3 columns">
        <%= link_to "View All Swimmers", meet_team_swimmers_path(params[:meet_id], params[:team_id]), :class => "success button" %>
      </div>
    </div>
    <div class="panel" id="swimmer_form"> <div class="row" id="swimmer_form">
        <%= form_for(@swimmer, :url => meet_team_swimmers_path(params[:meet_id], params[:team_id]), :remote => true) do |f| %>
        <div class="large-3 columns">
          <label>First Name </label>
          <%= f.text_field :first_name, :id => "first_name" %>
        </div>
        <div class="large-3 columns">
          <label>Last Name</label>
          <%= f.text_field :last_name, :id => "last_name" %>
        </div>
        <div class="large-2 columns">
          <label>Age</label>
          <%= f.text_field :age, :id => "age" %> 
        </div>
        <div class="large-2 columns">
          <%= select_tag(:gender, options_for_select(@gender_list)) %>
        </div>
        <div class="large-2 columns">
          <br>
          <%= f.submit "Save Swimmer \nand find Events", :class => "medium button"%>
        </div>
      <% end %>
      </div>
    </div>
  </div>
</div>

<div id="avail_events">

</div>
